* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: grey;
  color: white;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pantry {
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.FoodList {
  background-color: whitesmoke;
  height: 260px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.FoodItemCont {
  background-color: palevioletred;
  color: white;
  height: 200px;
  width: 150px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.FoodItemButtons {
  margin: 200 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.EditDeleteButt {
  background-color: white;
  width: 110px;
  height: 25px;
  border-radius: 30px;
  /* display: flex;
  justify-content: center; */
}

h2 {
    background-color: grey;
    color: white;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.Forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

.NameInput {
  width: 200px;
  display: flex;
  justify-content: center;
}

.PercentInput {
  width: 50vw;
  align-items: center;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormButton {
  width: 220px;
  height: 25px;
  border-radius: 30px;
  text-transform: uppercase;
  /* display: flex;
  align-items: center; */
}