* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: grey;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Vast Shadow', cursive;
  font-size: 67px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Pantry {
  background-color: lightblue;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.FoodList {
  background-color: lightblue;
  /* height: 260px; */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.FoodItemCont {
  background-color: white;
  color: white;
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 30px;
  border-color: gray;
  border-width: 10px;
}

h3 {
  display: flex;
  justify-content: center;
  font-family: 'Seaweed Script', cursive;
  font-weight: 100;
  font-size: 30px;
  background-color: rgb(41, 39, 39);
  border-radius: 50px;
  padding: 5px;
}

.FoodItemButtons {
  margin: 200 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.EditDeleteButt {
  background-color: white;
  width: 110px;
  height: 25px;
  border-radius: 30px;
  margin: 3px;
  background-color: chocolate;
  font-weight: 800;
  color: white;
}

h2 {
    font-family: 'Vast Shadow', cursive;
    font-size: 40px;
    font-weight: 100;
    background-color: white;
    color: grey;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.Forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

.NameInput {
  width: 25vw;
  height: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Seaweed Script', cursive;
  font-weight: 100;
  font-size: 25px;
}

.PercentInput {
  width: 50vw;
  align-items: center;
  justify-content: center;
}

.ItemPercent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  margin: 6px;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Cutive Mono', monospace;
}

.FormButton {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: chocolate;
  color: white;
  font-weight: 800;
}